@model UpdatePasswordViewModel

@{
    ViewData["Title"] = "Update Password";
}

<h2>Update Password</h2>

@if (Model == null || !Model.IsVerified)
{
    <form asp-action="VerifyUser" method="post">
        <div class="form-group">
            <label>Email</label>
            <input asp-for="Email" class="form-control" required />
        </div>

        <div class="form-group">
            <label>Favorite Color</label>
            <input asp-for="FavColor" class="form-control" required />
            <span asp-validation-for="FavColor" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary submit-button">Verify</button>
    </form>
}

@if (Model != null && Model.IsVerified)
{
    <form asp-action="UpdatePassword" method="post">
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="IsVerified" />
        <div class="form-group">
            <label>New Password</label>
            <input asp-for="NewPassword" type="password" class="form-control" required />
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-success submit-button">Update Password</button>
    </form>
}


