@{
    ViewData["Title"] = "Home Page";
}<head>
    <title>Nursing Ranker</title>
    <style>
      h1{
          font-family: "Times New Roman", Times, serif;
          
                    
      }
      .lead{
            font-family: "Times New Roman", Times, serif;
      }
      body{
            background-image: url('@Url.Content("~/images/site_images/fontchange (10).png")');
            background-size: cover; /* Ensures it covers the entire page */
            background-repeat: no-repeat; /* Prevents tiling */
            background-attachment: fixed; /* Keeps background fixed when scrolling */
            background-position: center center;
      }

/* just adding some small touches to the css of the login page */
    </style>
</head>



  





