@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nursing Ranker</title>
    <style>
        h1 {
            font-family: "Times New Roman", Times, serif;
        }

        .lead {
            font-family: "Times New Roman", Times, serif;
        }

        main {
            flex: 1;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            background-image: url('@Url.Content("~/images/site_images/fontchange (10).png")');
            background-size: cover; /* Ensures it covers the entire page */
            background-repeat: no-repeat; /* Prevents tiling */
            background-attachment: fixed; /* Keeps background fixed when scrolling */
            background-position: center center;
        }

        footer {
            text-align: center;
            padding: 10px;
            width: 100px;
            position: relative;
            bottom: 0;
        }
        /* just adding some small touches to the css of the login page */
    </style>
</head>



  





