.bg-dark-blue {
    background-color: #003366;
}

.nav-link {
    color: #ADD8E6;
    border-radius: 10px;
    margin: 5px 0;
}

    .nav-link.active {
        background-color: #ADD8E6;
        color: #003366;
    }

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }

        #sidebar.collapse {
            display: block;
        }

    #sidebarToggle {
        display: block;
    }
}

@media (min-width: 769px) {
    #sidebarToggle {
        display: none;
    }
}
